<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="welcome">
        <h1>Welcome to TERRATWINE</h1>
        <button class="next-button" onclick="nextPage()">Next</button>
    </div>
    <script>
        function nextPage() {
            window.location.href = 'map';
        }
    </script>
</body>
</html>
